#cardsWrapper {
  column-width: 360px;
  column-gap: 15px;
  width: 100%;
  margin: 50px auto;
}
#cardsWrapper .card {
  background: #000;
  display: inline-block;
  margin: 0 2px 10px;
  width: 100%;
}
