nav {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;

  .nav-left {
    padding: 10px;
  }
  .nav-right {
    flex: 1;
    padding: 26px;

    input[type="text"] {
       display: block;
       margin: 0 auto;
       width: 100%;
     }
  }

  ul {
    list-style: none;

    li.link, li.dropdown-link {
      display: inline-block;
      margin: 5px;
      margin-bottom: 0;

      ul.dropdown-menu {
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        display: none;
        margin: 5px;
        margin-top: 0;
        padding: 0;
        
        li {
          display: block;
        }
      }
    }

    .caret {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 2px;
        vertical-align: middle;
        border-top: 4px dashed;
        border-top: 4px solid \9;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
      }
  }
}

@media (max-width: 720px) {
  #navMenuLink {
    display: block;
  }

  nav {
    display: none;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;

    .nav-right {
      flex: 0;
    }
    
    .nav-right input[type="text"] {
      display: block;
      margin: 15px auto;
      width: 100%;
    }

    ul  {
      li.link, li.dropdown-link {
        display: block;
        margin: 5px;
        margin-bottom: 0;

        ul.dropdown-menu {
          border: 0;
        }
      }
    }
  }
}